<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info">
    <Properties>
        <Property name="LOG_DIR">logs</Property>
        <Property name="pattern">%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{5} [%t] - %msg%n</Property>
        <Property name="simple">%-5level %msg%n</Property>
    </Properties>
    <Appenders>
        <RollingFile name="File" fileName="${LOG_DIR}/text.log" append="true"
                     filePattern="${LOG_DIR}/${date:yyyy-MM-dd}/%d{yyyy-MM-dd_HH-mm}_%i.log">
            <PatternLayout pattern="${pattern}"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="1 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${pattern}"/>
        </Console>
        <Console name="ConsoleSimple" target="SYSTEM_OUT">
            <PatternLayout pattern="${simple}"/>
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="Console" level="debug" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="by.halatsevich.app.builder.handler.StudentErrorHandler" additivity="false">
            <AppenderRef ref="ConsoleSimple"/>
        </Logger>
        <Logger name="Log_File" level="debug" additivity="true">
            <AppenderRef ref="File"/>
        </Logger>
        <Root level="info">
            <AppenderRef ref="File"/>
            <AppenderRef ref="Console"/>
            <AppenderRef ref="ConsoleSimple"/>
        </Root>
    </Loggers>
</Configuration>